@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #f8f4f8;
    background-color: #1E2022;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.user, div.pass {
    margin-bottom: .625em;
}

.submit-btn {
    margin-top: 1em;
}

#submitBtn {
    padding: 0 0 0 .0625em;
    border: none;
    background: transparent;
    color: #808080;
    font-size: 1em;
    float: right;
}

input {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: .5em 0;
    width: 15em;
    background: none;
    border: none;
    border-bottom: solid .125em #343434;
    color: #f8f4f8;
    font-weight: 500;
}

input:placeholder-shown {
    font-style: italic;
}

input:focus, input:valid {
    outline: 0;
    border-bottom-color: #343434;
}

label {
    font-weight: 500;
    letter-spacing: .035em;
}