@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #f8f4f8;
    background-color: #1E2022;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.submit-btn {
    padding: 0 0 0 .0625em;
    border: none;
    background: transparent;
    color: #808080;
    font-size: 1.125em;
    float: right;
}

.submit-btn:hover {
    color: #829AB4;
}

.input {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: .5em 0;
    width: 15em;
    background: none;
    border: none;
    border-bottom: solid .2em #343434;
    color: #f8f4f8;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: .05em;
}

.input:placeholder-shown {
    font-style: italic;
}

.input:focus, .input:valid {
    outline: 0;
    border-bottom-color: #829AB4;
}

label {
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    color: #808080;
    letter-spacing: .0675em;
    pointer-events: none;
    position: absolute;
    left: 0;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.user-label {
    top: 7px;
}

.pass-label {
    top: 77px;
}

.input:focus + label,
.input:valid + label {
    transform: translateY(-25px);
    color:#829AB4;
    font-size: 14px;
    font-weight: 600;
}